html{
    


}

.cname{
    font-style: italic;
    font-size: large;
}

.lanaimg{
    width: 150px;
}

.joder{
    font-style: oblique;
    color: black;
    font-weight: bolder;

}

.redflag{
    color: red
}

.lanarey{
    font-size: large;
    font-style: italic;
}

.img3{
    width: 150px;
}

.ameli-titulo{
    color: blue;    
}

body{
    background-color: pink;
}

img{
    width: 400px;
    height: auto;

    
}

.imagen2{
    width: 200px;
}


.Banda1{
    font-size: large;
    font-style: italic;


}

.preguntaRA{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.bjork{
    width: 200px;
}

.dato{
    font-style: italic;
    font-weight: bolder;

}

.concorde{
    font-style: italic;
    font-weight: bolder;
}

.justk{
    font-weight: bold;
}

.yo{
    font-style: oblique;
    font-weight: bold;
}